<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Hours Worked</th>
			<th>Last Worked</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @admin_current_assignments.by_employee.each do |assignment| %>
      <tr>
        <td><%= link_to assignment.employee.name, employee_path(assignment.employee) %></td>
        <td><%= assignment.recent_hours %></td>
        <td><%= assignment.shifts.last.date.strftime("%m/%d/%y") unless assignment.shifts.last.nil? %></td>
        <td><%= link_to raw("<i class='icon-plus icon-white'></i> New Shift"), new_shift_path, :class => 'btn btn-primary', :id => 'Create Shift' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @admin_current_assignments, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>

